@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
  --gradient: linear-gradient(to right, rgba(27, 167, 167, 0.3), rgba(26, 146, 86, 0.3));
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Teko', sans-serif;
}

html {
  font-size: 80%;
  box-sizing: border-box;
  background-image: var(--gradient), url('/images/webb.png');
}

h1 {
  font-size: 4rem;
  display: block;
  padding-top: 30px;
  padding-left: 50px;
  color: #333;
  text-shadow: 1px 1px #fff;
}

footer {
  text-align: center;
  padding: 3px;
}

.calculator-body {
  border: 1px solid #ccc;
  background: #333;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.output {
  width: 100%;
  font-size: 5rem;
  height: 120px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}

.previous-operand {
  font-size: 3rem;
  padding-right: 10px;
  padding-top: 10px;
}

.current-operand {
  font-size: 4rem;
  padding-right: 10px;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  padding: 20px;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: #333;
  background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #eaeaea;
}

.operator {
  color: #337cac;
}

.all-clear {
  grid-row-start: 1;
  grid-column: 3 / 5;
}

.delete {
  grid-row: 1;
  grid-column: 1 / 3;
}

.all-clear, .delete {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover, .delete:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  grid-column: 3;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

#plus {
  grid-row: 5;
  grid-column: 4;
}

#minus {
  grid-row: 4;
  grid-column: 4;
}

#times {
  grid-row: 3;
  grid-column: 4;
}

#divide {
  grid-row: 2;
  grid-column: 4;
}
